<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Dockermaster Page</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript">
        $(function() {
                    var moveLeft = 0;
                    var moveDown = 0;
                    var display = true;
                    $('a#trigger').click(function() {
                        if ( display === true ) {
                            var data = JSON.parse($(this).parent().parent().attr('data-blah'));

                            console.log('http://localhost:8989/api/1/inspect/'+data.agentid+'/'+data.id)

                            $.ajax({
                                url: 'http://localhost:8989/api/1/inspect/'+data.agentid+'/'+data.id,
                                type: 'GET',
                                dataType:"json",
                                headers: {"Access-Control-Allow-Origin": "*", "Access-Control-Allow-Headers": "access-control-allow-origin, access-control-allow-headers, Authorization, Content-Type"},
                                processData: false,
                                crossDomain: true,
                                success: function(data) {
                                    var json = JSON.stringify(data, null, 4)
                                    // console.log(json)
                                    $('div#pop-up').text(json)
                                }
                            });


                            $('div#pop-up').show();
                            display = false;
                        } else if ( display === false ) {
                            $('div#pop-up').hide();
                            display = true;
                        }
                    })
                });
    </script>
</head>
<body>

    <table style="width:100%">
        {{range $agent := .}}
            <tr>
                <td id="agent" align="center"><h1 style="text-align:center; font-family:verdana;">{{$agent.AgentID}}</h1></td>
            </tr>
            <tr>
                <td id="header">Action</td>
                <td id="header">ID</td>
                <td id="header">Name</td>
                <td id="header">Command</td>
                <td id="header">Port</td>
            </tr>
            {{range $cont := $agent.Containers}}
                <tr data-blah='{"agentid":"{{$agent.AgentID}}","id":"{{$cont.ID}}"}'>
                    <td>
                        <a href="#" id="trigger">Inspect</a>
                        <div id="pop-up">
                          <h3>Inspect</h3>
                        </div>
                    </td>
                    <td>{{$cont.ID}}</td>
                    <td>{{$cont.Name}}</td>
                    <td>{{$cont.RunningCmd}}</td>
                    <td>{{$cont.Port}}</td>
                </tr>
            {{end}}
        {{end}}
    </table>

</body>
</html>
